html {
  background-color: #222b3e;
  color: white;
}

div.logo {
  background: url(https://cdn.discordapp.com/attachments/917984155541864449/1060271586076270683/new-logo-vert-37861c-white-text.svg)
      no-repeat,
    linear-gradient(transparent, transparent);
}

div.powered-by {
  background: url(https://cdn.discordapp.com/attachments/917984155541864449/1060271586369875969/poweredby-865a3b-white-text.svg)
      no-repeat center,
    linear-gradient(transparent, transparent);
}

body {
  background-color: #222b3e;
  color: white;
}
.more-info-link {
  background-color: #325d71;
}
#your-speed-message {
  color: white;
}
.succeeded {
  color: white;
}
#speed-value {
  color: white;
}

#speed-units {
  color: white;
}

#speed-progress-indicator-icon {
  color: white;
}

.measurement-label {
  color: white;
}

.bufferbloat-label {
  color: white;
}

#bufferbloat-value {
  color: white;
}

#upload-value {
  color: white;
}

#latency-value {
  color: white;
}

.localized {
  color: white;
}

table {
  color: white;
}

.logo {
  color: white;
}

span {
  color: white;
}

.powered-by {
  color: white;
}

.measurement-details-label {
  color: white;
}
.dropbtn {
  color: white;
}

#privacy-link {
  color: white;
}
