// Variables
$background: #414458;
$text_color: white;
$dracula_red: #ff5555;
$dracula_background: #282a36;
$dracula_pink: #ff79c6;

// General
html,
body {
  background-color: $background;
  color: $text_color;
}

// Stylizing the logos
div.logo {
  background: url(https://cdn.discordapp.com/attachments/917984155541864449/1060271586076270683/new-logo-vert-37861c-white-text.svg)
      no-repeat,
    linear-gradient(transparent, transparent);
}

div.powered-by {
  background: url(https://cdn.discordapp.com/attachments/917984155541864449/1060271586369875969/poweredby-865a3b-white-text.svg)
      no-repeat center,
    linear-gradient(transparent, transparent);
}

.more-info-link {
  background-color: #325d71;
  color: white !important;

  &:hover {
    color: $dracula_red !important;
    border-color: $dracula_red;
  }
}

// Text styles
.more-info-link,
#your-speed-message,
.succeeded,
#speed-value,
#speed-units,
#speed-progress-indicator-icon,
.measurement-label,
.bufferbloat-label,
#bufferbloat-value,
#upload-value,
#latency-value,
.localized,
table,
span,
.powered-by,
.measurement-details-label,
.dropbtn,
#privacy-link,
.oc-icon-fb:hover,
.oc-icon-tw:hover,
.oc-icon-help.test-help:hover,
.dropbtn:hover,
.dropbtn:focus,
#privacy-link:hover,
.oc-icon-help.test-help.active {
  color: $text_color;
}

// Hover styles
.more-info-link:hover,
.dropbtn:hover,
.dropbtn:focus,
#privacy-link:hover,
span.oc-icon-fb:hover,
span.oc-icon-tw:hover,
.oc-icon-help.test-help:hover,
.oc-icon-help.test-help.active {
  color: $dracula_red;
}

.speed-progress-indicator.succeeded {
  border-color: $dracula_red;
}

.measurement-details-label.succeeded {
  color: $dracula_red;
}

// The Settings Page Styles

.test-config-btn {
  color: #ffffff !important;
  border-color: #ffffff;

  &:hover {
    color: $dracula_red !important;
    border-color: $dracula_red;
  }
}

// The help container
div#help-content a {
  color: $dracula_pink;

  &:hover {
    color: $dracula_red;
  }
}
